block variables

doctype html
html(lang="en")
  head
    <!-- Basic Page Needs -->
    <!-- –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    meta(charset="utf-8")
    meta(
      name="viewport",
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    )

    <!-- Favicon -->
    <!-- –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    link(rel="shortcut icon", href="images/favicon.ico", type="image/x-icon")

    <!-- CSS -->
    <!-- –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    link(
      rel="stylesheet",
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css",
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm",
      crossorigin="anonymous"
    )
    link(rel="stylesheet", href="stylesheets/normalize.css")
    //-link(rel="stylesheet", href="stylesheets/skeleton.css")
    link(rel="stylesheet", href="stylesheets/sb-admin-2.css")
    link(rel="stylesheet", href="stylesheets/style.css")


  <!-- Fonts -->
  <!-- –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  link(
    href="https://fonts.googleapis.com/css?family=Roboto",
    rel="stylesheet",
    type="text/css"
  )

  <!-- Scripts -->
  <!-- –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  script(src="https://kit.fontawesome.com/000a2c7fa0.js", crossorigin="anonymous")

  title virtual-library-login-portal: #{title}

  <!-- Pug mixins -->
  <!-- –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  include mixins.pug
  
  <!-- Primary Page Layout -->
  <!-- –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  body#pagetop
    // Page wrapper
    div#wrapper

      // Sidebar
      ul#accordianSidebar.navbar-nav.bg-primary.sidebar.sidebar-dark.accordian.toggled
        // Sidebar - Brand
        a.sidebar-brand.d-flex.align-items-center.justify-content-center(href="/")
          div.sidebar-brand-icon.rotate-n-15
            i.fas.fa-book
          div.sidebar-brand-text.mx-3 VLibrary
  
        // Sidebar - Divider
        hr.sidebar-divider.my-0
        
        // TODO: if user == undefined show HOME else show DASHBOARD
        // Nav Item - Home
        li.nav-item.active
          a.nav-link(href="/")
            i.fas.fa-fw.fa-home
            span Home

        // Nav Item - Dashboard
        li.nav-item.active
          a.nav-link(href="/dashboard")
            i.fas.fa-fw.fa-tachometer-alt
            span Dashboard
        
        hr.sidebar-divider
        
        // Sidebar - Heading
        div.sidebar-heading Interface

        // Nav Item - Pages Collapse Menu
        li.nav-item
          a.nav-link.collapsed(href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo")
            i.fas.fa-fw.fa-cog
            span Components
          div.collapse#collapseTwo(aria-labelledby="headingTwo" data-parent="#accordionSidebar")
            div.bg-white.py-2.collapse-inner.rounded
              h6.collapse-header Custom Components:
              a.collapse-item(href="#") Buttons
              a.collapse-item(href="#") Cards

        hr.sidebar-divider

        // Sidebar - Sidebar toggler (toggle class toggled on #accordianSidebar)
        .text-center.d-none.d-md-inline
          button#sidebarToggle.rounded-circle.border-0

        // Sidebar Message
        .sidebar-card
          img.sidebar-card-illustration.mb-2(src="images/undraw_rocket.svg" alt="")
          p.text-center.mb-2 #[strong Virtual Library] is packed with premium features and more!
          a.btn.btn-success.btn-sm(href="#") Start!

      // END of Sidebar

      //Content Wrapper
      div#content-wrapper.d-flex.flex-column
        div#content

          // Topbar
          nav.navbar.navbar-expand.navbar-light.bg-white.topbar.mb-4.static-top.shadow
          
            // Sidebar Toggle (Topbar)
            button#sidebarToggleTop.btn.btn-link.d-md-none.rounded-circle.mr-3
              i.fa.fa-bars
            
            // Topbar search
            +topBarSearch

            // Topbar navbar
            ul.navbar-nav.ml-auto

              if user == undefined
                p 
              else
                // Nav Item - Search dropdown (visible only on xs)
                +topBarSearchDropdown

                // Nav item - Alerts
                +topbarAlerts(2)
                  +Alert("December 17, 3333", "This is an alert.", "fa-donate")
                  +Alert("December 17, 3333", "This is an alert.", "fa-donate")
        
                // Nav item - Messages
                +topBarMessages(2)
                  +Message("Hi there! I am wondering if you could help me.", "Username", "Dec 26, 2020 11:21", "images/undraw_profile_1.svg")
                div.topbar-divider.d-none.d-sm-block

              // Nav Item - User Information
              li.nav-item.dropdown.no-arrow
                if user == undefined
                  a.nav-link(href="/users/login")
                    //img.img-profile.rounded-circle(src="images/undraw_profile.svg")
                    i.fas.fa-sign-in-alt.fa-lg.fa-fw.mr-2.text-dark(aria-hidden="true")
                    span.text-dark Login
                else
                  a#userDropdown.nav-link.dropdown-toggle(href="#" role="button" data-toggle="dropdown" 
                    aria-haspopup="true" aria-expanded="false")
                    span.mr-2.d-none.d-lg-inline.text-gray-600.small= user.profile.login
                    img.img-profile.rounded-circle(src="images/undraw_profile.svg")
                  // Dropdown - User Information (toggle class show)
                  div#userDropdownMenu.dropdown-menu.dropdown-menu-right.shadow.animated--grow-in(aria-labelledby="userDropdown")
                    a.dropdown-item(href="#") 
                      i.fas.fa-user.fa-sm.fa-fw.mr-2.text-gray-400 
                      span Profile
                    a.dropdown-item(href="#")
                      i.fas.fa-cogs.fa-sm.fa-fw.mr-2.text-gray-400
                      span Setting
                    a.dropdown-item(href="#")
                      i.fas.fa-list.fa-sm.fa-fw.mr-2.text-gray-400
                      span Activity Log
                    div.dropdown-divider
                    form#logoutForm(method="post" action="logout")
                      a.dropdown-item(href="javascript:{}" 
                        onclick="document.getElementById('logoutForm').submit();"
                        data-toggle="modal" data-target="#logoutModal")
                        i.fas.fa-sign-out-alt.fa-sm.fa-fw.mr-2.text-gray-400 
                        span Logout
                  
          
          // END of Topbar    

          // Javascripts
          script(type="text/javascript" src="javascripts/sidebar.js")
          
          // Begin Page Content
          div.container-fluid
            block content
          // End of Main Content

          // Footer
          footer.sticky-footer.bg-white
            div.container.my-auto
              div.copyright.text-center.my-auto
                span Copyright &copy; Your Website 2021 
                span Built with #[a(href="https://expressjs.com") Express.js], login powered by #[a(href="https://developer.okta.com/") Okta].
          // End of Footer
